body {
   margin: 0;
   /* Remova as margens padrão do corpo */
   padding: 0;
   /* Remova o preenchimento padrão do corpo */
   background-size: cover;
   /* Cobrir toda a área do corpo */
   background-position: center;
   /* Centralizar a imagem */
   height: 100vh;
   /* 100% da altura da tela */
}

.a-chatwpp {
   display: flex;
   justify-content: center;
   padding-top: 100px;
}

.cadastro {
   display: flex;
   justify-content: center;
   color: rgb(239, 239, 239);
   font-size: 30px;
   text-decoration: none;
   padding-top: 40px;
}

.login {
   display: flex;
   justify-content: center;
   color: rgb(239, 239, 239);
   font-size: 30px;
   text-decoration: none;
   padding-top: 20px;
}
.whatsapp {
   width:200px; /* largura de 300 pixels */
  height: 50px; /* altura de 200 pixels */
}